{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'script/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'script/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <title>Script App</title>
  </head>
  <body>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">
    <img src="{% static 'icon_light.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Hindi Script App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <span class="navbar-text text-light mr-2 p-1">
      Hello {{user.username}}
    </span>
    <a href="{% url 'logout' %}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button></a>
  </div>
</nav>

<!-- Word to spell -->
<div class="outer-box container gap">
  <div class="pb-2"><h4 class="text-center pb-1"><mark class="bg-dark text-light rounded pl-2 pr-2">LEVEL {{level}}</mark></h4></div>
    <div class="card rounded-left-grad-border">
      <div class="card-body">
        <h1 id="word" class="card-title text-center"></h1>
      </div>
    </div>
    
    <div id="bar" class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
    </div>
</div>

<!-- Place Div -->
<div class="container">
  <div id="place" class="row align-items-center justify-content-center swatch-200">
    <!-- Selected Letters Append Here -->
  </div>
</div>
<!-- Choose Div -->
<div class="container gap">
  <div id="choose" class="row align-items-center justify-content-center">
    <!-- Letters to choose from Append Here -->
  </div>
</div>
<!-- Next Level Button -->
<form id="next" action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <div class="form-group align-items-center">
    <input name="level" value="2" type="hidden" class="form-control" placeholder="Noun">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-secondary text-center">Next Level</button>
  </div>
</form>

  </body>
  <script>
    let level = {{ level }}
    let level_words = {{ level_words|safe }};
    let level_roman = {{ level_roman|safe }};
    let completed_words = [];
    let level_letters = {{ level_letters|safe }};
    let wordHeading = document.querySelector("#word");
    let place = document.querySelector("#place");
    let choose = document.querySelector("#choose");
    // Default Progress Bar State
    let bar = document.querySelector("#bar");
    let progress = 0;
    // Set up our level word to make
    let levelWord;
    buildWord();
    setBoard();

    // Hide Next Level Button
    document.getElementById("next").hidden = true;
   

    // Randomly select our level Word
    function buildWord() {
      // Make sure we dont repeat a word (Must be ten words or crashes)
      let word = level_words[Math.floor(Math.random()*level_words.length)];
      while (completed_words.includes(word)) {
        word = level_words[Math.floor(Math.random()*level_words.length)];
      }
      // Add word to list of words we have completed
      completed_words.push(word);
      levelWord = word;
      wordHeading.innerText = level_roman[level_words.indexOf(levelWord)];
    }

    // Build a letter on the screen from a given letter and at a location (the choser div or the place div)
    function buildLetters(l, location) {
      let letterBox = document.createElement('div');
      letterBox.classList.add('col', 'letter-box');
      let letter = document.createElement('h1');
      letter.innerText = l;
      letterBox.appendChild(letter);
      // Remove box from the clicked location
      letterBox.addEventListener('click', function() {
        swapLetters(letterBox, letterBox.parentNode)
      });
      // Append box to location div
      location.appendChild(letterBox);
    }

    // Swap a letter between choose and place divs
    function swapLetters(letterBox, location) {
      if (location == choose) {
        choose.removeChild(letterBox);
        place.appendChild(letterBox);
      }
      else {
        place.removeChild(letterBox);
        choose.appendChild(letterBox);
      }
      let audio = new Audio("{% static 'script/sounds/pull-out.mp3' %}");
      audio.play();
      checkWord();
    }

    // Check if user is correct
    function checkWord() {
      let current = ""
      let children = place.children;
      for (var i = 0; i < children.length; i++) {
        var child = children[i];
        current += child.firstChild.innerText;
      }
      // If correct
      if (current == levelWord) {
        // Move progress forward
        progress += 10;
        bar.firstElementChild.style.width = progress + "%";
        // Play correct
        let audio = new Audio("{% static 'script/sounds/open-ended.mp3' %}");
        audio.play();
        // Show check icon
        let icon = document.createElement('i');
        icon.classList.add("fa", "fa-check-circle", "check")
        wordHeading.append(" ");
        wordHeading.append(icon);
        icon.classList.toggle('fade');
        // Fade text in an out and show word in devanagri

        setTimeout(function() {
          wordHeading.classList.toggle('fade');
        }, 600);
        setTimeout(function() {
          wordHeading.innerText = levelWord;
          wordHeading.classList.toggle('fade');
        }, 1000);


        // Check for win state
        if (progress == 100) {
          let audio = new Audio("{% static 'script/sounds/win.mp3' %}");
          audio.play();
          // Display Next Level Button
          document.getElementById("next").hidden = false;
        }
        else {
          // Get a new word
          setTimeout(buildWord, 2000);
          // Reset board
          setTimeout(clearBoard, 2000);
          setTimeout(setBoard, 2000);
        }
      }
    }

    // Setup the board making sure we have the corret letters to make the word
    function setBoard() {
      // Check what letters are in the word we need to make and add them first
      level_letters.forEach(function(letter) {
        levelWord.split('').forEach(function(l) {
          if (l == letter) {
            buildLetters(letter, choose);
          }
        });
      });

      // Add letters only if they are not already added from the word (as above)
      let choose_letters = [];
      for (let i = 0; i < 5; i++) {
        let l = level_letters[Math.floor(Math.random()*level_letters.length)];
        if (!(levelWord.split('').includes(l)) && !(choose_letters.includes(l))) {
            buildLetters(l, choose);
            choose_letters.push(l);
          }
        else {
          i--;
        }
      }
    }

    // Clear the place and choose divs
    function clearBoard() {
      while (place.hasChildNodes()) {
        place.removeChild(place.lastChild);
      }

      while (choose.hasChildNodes()) {
      choose.removeChild(choose.lastChild);
      }
    }
  </script>
</html>
